body {
  background-color: #f8f9fa;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
}

.jumbotron {
  background-color: #dee1e4;
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.jumbotron h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  col
}

.jumbotron p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: #ff8c00;
  border-color: #ff8c00;
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
}

.btn-primary:hover {
  background-color: #ff6300;
  border-color: #ff6300;
}
 /* Custom styles for responsiveness */
 @media (max-width: 576px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
